@{
    ViewBag.Title = "Home Page";
}
<div class="panel panel-primary">
    <div class="panel-heading">MVC Views</div>
    <div class="panel-body">
        <p>Переключайтесь по вкладкам</p>
    </div>
</div>
